body {
    direction: rtl;
}

* {
    box-sizing: border-box;
    font-family: Tahoma;
}

/* Add padding to containers */
.container {

    background-color: white;
    width: 500px !important;
    border: 1px solid silver;
    margin: 50px auto;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 12px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.loginbtn {
    display: inline-block;
    text-align: center;
}

.shorterbtn, .qrcodebtn {
    width: 100% !important;
    text-align: center;
}

.registerbtn, .loginbtn, .shorterbtn, .qrcodebtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px !important;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 49%;
    opacity: 0.9;
    height: 47px !important;
    line-height: 14px !important;
    font-size: 16px !important;
}

.registerbtn:hover, .loginbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
    text-decoration: none !important;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

h5.error {
    border: 1px solid silver;
}

.p5 {
    padding: 5px !important;
}

.pushleft {
    float: left !important;
    margin-right: 5px;
}

.table {
    width: 100% !important;
}